services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend-cem
    environment:
      - TZ=Asia/Bangkok
    ports:
      - "8080:80"
    restart: unless-stopped
