services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cem-frontend-app
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    working_dir: /app
    command: npm run dev -- --host 0.0.0.0 --port 3000
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
