
.p-float-label {
    margin-left: 8px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.prompt-light {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", serif;
  font-weight: 500;
  font-style: normal;
}
